@import url(https://fonts.googleapis.com/css?family=Abel);

/* BASE STYLES */
body {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  width: 100%;
}

nav ul {
  display: inline;
  list-style: none;
}

nav ul li {
  display: inline;
  list-style: none;
  padding: 0 10px;
}

nav ul li a:hover {
  color: #FFF;
  background-color: black;
}

nav ul li a {
  color: #000;
  text-decoration: none;
}

/* TYPOGRAPHY */
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  letter-spacing: 5px;
  font-weight: 400;
}

p {
  font-family: 'Oswald', sans-serif;
  font-size:16px;
}

/* MODULES */
.footer {
  bottom: 0;
  height: 75px;
  padding: 0 2rem;
  position: fixed;
  width: calc(100% - 4rem);
}

.divider {
  background-color: black;
  height: 2px;
  width: 100%;
}

.header {
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.dot {
  border: solid 1px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.dot:hover {
  background-color: #f2d09e;
  border: solid 1px;
  border-color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.menu {
  font-family: 'Abel', sans-serif;
  opacity: 0;
  transition: opacity .4s ease-in;
  width: 80%;
}

.menu.is-open {
  opacity: 1;
  transition: opacity .4s ease-in;
}

.menu-container {
  display: inline-flex;
  cursor: pointer;
}

.logo:hover {
  cursor: pointer;
  opacity: .7;
}

.score-markers-table { table-layout: fixed; }
.score-marker {
  text-align: center;
  width: 22px;
}

.board-container {
  align-items: center;
  display: flex;
  height: calc(100vh - 207px);
  justify-content: center;
}

[data-user-token="x"] {
  background-image: url("../images/x-desktop.png");
}

[data-user-token="o"] {
  background-image: url("../images/o-desktop.png");
}

.circle {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 70%;
  border-radius: 50%;
  cursor: pointer;
  height: 120px;
  transition: all .3s ease-in;
  width: 120px;
}

.circle:hover {
  opacity: .4;
  transition: all .3s ease-in;
}

#top-left { background-color: #e2eeee; }
#top-center { background-color: #cfcccc; }
#top-right { background-color: #f2f0e0; }
#center-left { background-color: #f2d09e; }
#center { background-color: #d4e2c6; }
#center-right { background-color: #c5d5ea; }
#bottom-left { background-color: #f8c6c6; }
#bottom-center { background-color: #d3c1d2; }
#bottom-right { background-color: #d6e6e1; }

.x-marker {
  color: #f8c6c6;
  font-weight: bold;
}
.o-marker {
  color: #f8c6c6;
  font-weight: bold;
}

[data-modal] {
  height: 0;
  opacity: 0;
  transition: opacity .3s ease-in;
}

[data-modal].is-open {
  height: 100vh;
  opacity: 1;
  transition: opacity .3s ease-in;
}

.modal-overlay {
  align-items: center;
  background-color: #d6e6e1;
  display: flex;
  height: inherit;
  justify-content: center;
  opacity: .9;
  position: absolute;
  width: 100vw;
  z-index: 1;
}

.modal-content {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 400;
  height: 50%;
  opacity: 1;
  padding-top: 10%;
  text-align: center;
  width: 100%;
}

.modal-inner {
  align-items: center;
  border: solid 7px white;
  height: 35%;
  max-width: 600px;
  min-width: 300px;
  width: 50vw;
}

.button {
  border: solid 5px white;
  color: white;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  margin-left: auto;
  margin-right: auto;
  max-width: 33%;
  padding: .5rem 2rem;
  text-align: center;
}

.button:hover {
  color: #d6e6e1;
  background-color: white;
  opacity: .9;
  transition: all .3s ease-in;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 500px) {
  .logo { font-size: 22px; }
  .button { font-size: 16px; }

  .circle {
    width: 100px;
    height: 100px;
  }

  .header { padding: 1rem 2rem; }
}

